<!DOCTYPE html>
<html lang="en">
<head>    
    <meta charset="UTF-8">    
    <title>Llistat de corredors</title>    
    <link rel="icon" href="./img/npn.ico">
</head>

<link rel="stylesheet" href="/css/main.css">

<body>
<%- dataJS %> 

<div id="capa"></div>

<script src="/js/moment-with-locales.js"></script>    
<script src="/js/traces.properties"></script>
<script src="/js/classificacions.js"></script>

<script>
    dibuixaClassificats(false);                
</script>

</body>
</html>