<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./img/npn.ico">
    <title>Traces NPN - Cursa popular Núria Puigmal Núria</title>
    
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
    <link rel="stylesheet" href="/css/main.css">

    <!-- https://github.com/unbam/Leaflet.SlideMenu -->
    <!--
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">    
    -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/L.Control.SlideMenu.css">
    
</head>
<body>
    <!-- Recupera les dades passades des de /routes/mostrarMapa.js amb res.render     
    -->
    <%- dataJS %> 
<script>
    //alert(cadJS)   
</script>

<div id="map"></div>
<div id="crono"></div>
<div id="link">   
    <div class="leaflet-control-slidemenu leaflet-bar leaflet-control">
        <a href="/corredors" target="_new" class="leaflet-bar-part leaflet-bar-part-single" title="Finestra nova">
           <span class="fa fa-external-link">   </span>
        </a>
    </div>
   
 </div>

 <!--  <a href="/corredors" class="fa fa-external-link"  target="_new"></a>      --->


    <!--
    /* @preserve
    * Leaflet 1.7.1, a JS library for interactive maps. http://leafletjs.com
    * (c) 2010-2019 Vladimir Agafonkin, (c) 2010-2011 CloudMade
    */
    -->

    <!--
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/leaflet.js"></script>
    -->
    
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <script src="/lib/L.Control.SlideMenu.js"></script>        
    <!-- 
    /**
    * Copyright (C) 2011-2012 Pavel Shramov
    * Copyright (C) 2013-2017 Maxime Petazzoni <maxime.petazzoni@bulix.org>
    * All Rights Reserved.
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.7.0/gpx.min.js"></script>    
    -->
    <script src="/lib/gpx.js"></script>

    <script src="/lib/moment-with-locales.js"></script>    
    
    <!--  Revisar importació de geojson
    <script src="https://cdnjs.cloudflare.com/ajax/libs/geojson/0.5.0/geojson.min.js"></script>
    <script src="/lib/geojson.js"></script> 
     -->
    
    
    <script src="/config/traces.properties"></script>
    
    <script src="/js/tracksOnLine.js"></script>
    <script src="/js/tracksFitxers.js"></script>
    <script src="/js/tracksDataBase.js"></script>    
    <script src="/js/classificacions.js"></script>
    <script src="/js/main.js"></script>



</body>
</html>