<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <title>Prova</title>
    

</head>
<body>

<ul id="authors"></ul>

<script>

    function createNode(element) {
        return document.createElement(element);
    }

    function append(parent, el) {
        return parent.appendChild(el);
    }   

    const ul = document.getElementById('authors');
    const url = 'http://localhost:3001/users/';

    fetch(url)
    .then(response => response.json())
      .then(data => console.log(data)); 
      
/*
    fetch(url)
    .then((resp) => resp.json())
    .then(function(data) {
    let authors = data.results;
    return authors.map(function(author) {
        let li = createNode('li');
        let img = createNode('img');
        let span = createNode('span');
        img.src = author.picture.medium;
        span.innerHTML = `${author.name.first} ${author.name.last}`;
        append(li, img);
        append(li, span);
        append(ul, li);
    })
    })
    .catch(function(error) {
    console.log(error);
    });
*/
</script>


</body>
</html>